ipython
numpy
matplotlib
seaborn
pandas
joblib
scipy
scikit-learn
xgboost
mrestimator@git+https://github.com/Priesemann-Group/mrestimator.git
neuraltoolkit@git+https://github.com/hengenlab/neuraltoolkit.git
