name: Pytests
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
    steps:
      - uses: actions/checkout@v2
      - name: Install Python 3
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest
          pip install -r requirements.txt
          pip install -e .
          wget --no-check-certificate https://biolinux2.wustl.edu/hlabdata/data/test_neuron.npy -P tests/
          wget --no-check-certificate https://biolinux2.wustl.edu/hlabdata/data/spike_time.csv -P tests/
          wget --no-check-certificate https://biolinux2.wustl.edu/hlabdata/data/fr_rate.csv -P tests/
          wget --no-check-certificate https://biolinux2.wustl.edu/hlabdata/data/isi_hist.csv -P tests/
          wget --no-check-certificate https://biolinux2.wustl.edu/hlabdata/data/waveform.csv -P tests/
          wget --no-check-certificate https://biolinux2.wustl.edu/hlabdata/data/fs.csv -P tests/
          wget --no-check-certificate https://biolinux2.wustl.edu/hlabdata/data/animal_gender.csv -P tests/
          wget --no-check-certificate https://biolinux2.wustl.edu/hlabdata/data/spike_time_sec.csv -P tests/
      - name: Run tests with pytest
        run: pytest 
